<section id="profile" class="container">
    <div class="row mt-5">
        <div class="col-lg-4 col-sm-6 col-12 text-center" *ngFor="let user of users">
            <div class="row">
                <div class="col-12-profile_header">
                    <img src="http://localhost:3000/{{user.picture}}" alt="">
                </div>
            </div>
            <div class="row user_details">
                <div class="col-12">
                    <h5>Correo Usuarios</h5>
                    <p>Email: {{user.email}} </p>
                    <p>Nombre: {{user.name}}</p>
                    <p>Apellidos: {{user.lastName}}</p>
                    <p>Phone: {{user.phone}}</p>
                    <p>Cumpleaños: {{user.birthday | date:'yyyy-MM-dd' }}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>
